/* Use Flexbox to resolve those problems linked with a Navbar component. */



/* Nav #1 */
/* Center the Navlinks on X (horizontally) */
.nav-1 {
    text-align: center;
}





/* Nav #2 */
/* Center on Y and display the buttons on the right */
.nav-2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sign-in-btn {
    display: inline-block;
    margin-left: auto;
}


/* Nav #3 */
/* Center on Y then put the icon on the left and the links on the right */

.nav-3 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-3 > img {
    margin-right: auto;
}







/* Nav #4 */
/* Center on Y then put the Saturn icon in the middle and the links on the left */

.nav-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-4 .empty-layout {
    height : 23px;
    width : 325px;
}


/* Nav #5 */
/* Center the elements on Y */
/* Center the text on X */
/* Display the cat's paw on the left */
/* Display the three icons on the right */


.nav-5 {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}