*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    height: 100vh;
    font-family: sans-serif;
}


.wrapper {
    width: 400px;
    height: 100px;
    background-color: #000000ce;
    color: white;
    overflow: hidden;
    position: relative;
    top: 35%;
    left: 35%;
}


.carousel {
    text-transform: uppercase;
    font-size: 25px;
    width: inherit;
    height: 400px;
    animation : Carousel 10s ease-in-out infinite;
}

.carousel__item {
    width: inherit;
    height: 100px;
    text-align: center;
}

.carousel_item__text {
    line-height: 100px;
}

@keyframes Carousel {
    0%, 10% {
        transform : translateY(0);
    }

    10%, 20% {
        transform : translateY(-100px);
    }
    
    20%, 30% {
        transform : translateY(-200px);
    }

    30%, 40% {
        transform : translateY(-300px);
    }

    40%, 50% {
        transform : translateY(-400px);
    }

    50%, 60% {
        transform : translateY(-500px);
    }

    60%, 70% {
        transform : translateY(-600px);
    }

    75%, 90% {
        transform : translateY(-700px);
    }

    100% {
        transform : translateY(-800px);
    }
        
}
